# Python files
*.pyc
*.pyo
*.pyd

# Virtual environment files
venv/
env/

# SQLite database file
recipe.db

# Flask debug files
*.log
*.pid

# IDE files
*.iml
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Other files
__pycache__/
*.sqlite3
*.sql
*.csv
*.json
*.txt